In [53]:
%%tsql -artifact DB_Sandbox -type SQLDatabase
create table cidades(cidade varchar(200), uf varchar(2));

In [54]:
dados = [
    ('Jundiaí', 'SP'),
    ('Piracicaba', 'SP'),
    ('Várzea Paulista', 'SP')
]

query = """
insert into cidades (cidade, uf) 
values ('{cidade}', '{uf}');
"""

for cidade, uf in dados:
    %tsql -artifact DB_Sandbox -type SQLDatabase {query} 


%tsql -artifact DB_Sandbox -type SQLDatabase select cidade, uf from cidades

            cidade  uf
0          Jundiaí  SP
1       Piracicaba  SP
2  Várzea Paulista  SP

In [55]:
query = '''
update cidades
set cidade = 'Vitória',
    uf     = 'ES'
where cidade = 'Várzea Paulista';

select cidade, uf from cidades;
'''

# Same workspace
%tsql -artifact DB_Sandbox -type SQLDatabase {query}

# or with workspace name
# workspace_name = 'Sandbox_Fabric'
# %tsql -artifact DB_Sandbox -type SQLDatabase -workspace {workspace_name} {query}

# or with workspace ID
# workspace_id = "0d4a2f53-8c7b-42b0-8500-da59d8da80df"
# %tsql -artifact DB_Sandbox -type SQLDatabase -workspace {workspace_id} {query}

       cidade  uf
0     Jundiaí  SP
1  Piracicaba  SP
2     Vitória  ES

In [56]:
%%tsql -artifact DB_Sandbox -type SQLDatabase
drop table cidades;